<div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Recent Messages</h2>
        <% if (messages.length > 0) { %>
            <ul class="space-y-4">
                <% messages.forEach((msg, index) => { %>
                    <li class="bg-gray-50 rounded-lg p-4 flex items-start justify-between">
                        <div class="w-full h-full">
                            <p class="text-gray-800 font-medium break-words whitespace-pre-wrap h-full w-full"><%= msg.message %></p>
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <span><%= msg.name %></span>
                                <span class="mx-2">&bull;</span>
                                <time datetime="<%= msg.date %>">
                                    <%= new Date(msg.date).toLocaleString('en-US', { day: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric', hour12: true, year: 'numeric' }) %>
                                </time>
                            </div>
                        </div>
                        <% if (user ) { %>
                            <form action="/message/delete-message/<%= msg.id %>" method="post">
                                <input type="hidden" name="messageId" value="<%= msg.id %>">
                                <button type="submit" class="text-red-500 hover:text-red-600 transition duration-150 ease-in-out">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </form>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p class="text-center text-gray-500">No messages to display.</p>
        <% } %>
    </div>
</div>

